*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  width: 500px;
  position: relative;
}

.box::before {
  content: "";
  width: 3px;
  height: 100%;
  background: linear-gradient(9deg, #5A4EF5, #70D8FA);
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center;
  animation: borderHeightAnimation .5s linear forwards;
}

@keyframes borderHeightAnimation {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.box::after {
  content: "";
  width: 100%;
  background: linear-gradient(9deg, #70D8FA, #5A4EF5);
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: left;
  animation: borderWidthAnimation 1s linear forwards .5s;
}

.box__ul--container {
  list-style: none;
}

.box__ul--item {
  padding: 30px 10px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
}

.box__ul--item::before {
  content: "";
  width: 100%;
  background: linear-gradient(9deg, #70D8FA, #5A4EF5);
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left;
  animation: borderWidthAnimation 1s linear forwards .5s;
}

@keyframes borderWidthAnimation {
  0% {
    transform: scaleX(0);
    height: 0;

  }

  100% {
    transform: scaleX(1);
    height: 3px;
  }
}